@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #3f4248;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    height: auto;
    min-height: 200px;
    background: #ffffff;
    border-radius: 5px;
    padding: 30px 40px;
}

.container__title {
    font-family: 'Poppins';
}

input {
    padding-left: 5px;
    margin-top: 20px;
    border: 0;
    background: #c1c1c1;
    outline: 0;
    width: 97%;
    height: 35px;
    border-radius: 5px;
}


button {
    border: 0;
    border-radius: 5px;
    width: 99%;
    height: 35px;
    background: #583fe3;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
}

.imgBox {
    margin: 30px auto 0 auto;
    width: 60%;
    min-height: 150px;
    height: auto;
    background: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    padding: 10px;
    box-sizing: border-box;
}

#qrImg {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }
    
    .imgBox {
        width: 80%;
    }
}